* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
}

body {
  overflow-x: hidden;
}

.navbar {
  position: fixed !important;
  width: 100% !important;
  z-index: 1 !important;
}

.navbar-brand {
  text-decoration: none;
  font-size: 30px;
  font-family: 'Playfair Display', serif;
  font-weight: 700;
  letter-spacing: 2px;
  color: #4b4b4a;
}


.nav-item:hover a {
  color: #daabe8 !important;
}

header {
  background-image: url('image/background3.jpg');
  background-size: cover;
  background-position: center;
}

header h1 {
  padding: 350px 4%;
  color: #FBF7F4;
  font-family: 'Merriweather', serif;
  font-weight: 300;
  font-size: 29px;
}

.container {
  width: 90%;
  margin: auto;
  transition: 0.5s;
}

main {
  display: grid;
  grid-template-columns: 1fr 50px;
  margin-top: 50px;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #4b4b4a;
}

main .shopping {
  position: relative;
  text-align: right;
}

main .shopping img {
  width: 40px;
  cursor: pointer;
}

main .shopping span {
  background-color: #e6c5f0;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #4b4b4a;
  position: absolute;
  top: -5px;
  left: 70%;
  padding: 3px 10px;
}

#list {
  gap: 30px;
  margin-top: 50px;
}

#list .item {
  text-align: center;
  padding: 20px;
  height: 400px;
  width: 330px;
}

#list .item img {
  width: 150px;
  height: 250px;
  transition: transform 0.6s;
}

#list .item img:hover {
  transform: scale(1.1);
}

#list .item .title {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  margin-top: 20px;
}

#list .item .price {
  margin: 5px;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #4b4b4a;
}

#list .item button {
  border: none;
  background-color: transparent;
  color: #4b4b4a;
  width: 100%;
  padding: 10px;
  cursor: pointer;
}

#list .item:nth-child(10) img,
#list .item:nth-child(11) img,
#list .item:nth-child(12) img,
#list .item:nth-child(13) img,
#list .item:nth-child(14) img,
#list .item:nth-child(15) img,
#list .item:nth-child(16) img {
  width: 250px;
}

#list .item:first-child,
#list .item:nth-child(10) {
  background-color: #e6c5f0;
}

#list .item:nth-child(2),
#list .item:nth-child(11) {
  background-color: #ffcb9c;
}

#list .item:nth-child(3),
#list .item:nth-child(12) {
  background-color: #e5f1e6;
}

#list .item:nth-child(4),
#list .item:nth-child(13) {
  background-color: #e0dac2;
}

#list .item:nth-child(5),
#list .item:nth-child(14) {
  background-color: #d4d8d2;
}

#list .item:nth-child(6),
#list .item:nth-child(15) {
  background-color: #807f83;
}

#list .item:nth-child(7),
#list .item:nth-child(16) {
  background-color: #d5d6c7;
}

#list .item:nth-child(8) {
  background-color: #f3ddab;
}

#list .item:nth-child(9) {
  background-color: #d5b0ad;
}

.cards {
  position: fixed;
  top: 0;
  left: 100%;
  width: 500px;
  height: 100vh;
  transition: 0.5s;
  background-color: #efdef4;
  z-index: 1;
}

.active .cards {
  left: calc(100% - 500px);
}


.cards h1 {
  margin: 0;
  padding: 0 20px;
  height: 80px;
  display: flex;
  align-items: center;
  font-size: 25px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: #4b4b4a;
}

.cards .checkOut {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);

}

.cards .checkOut div {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  cursor: pointer;
  font-size: 15px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #4b4b4a;
  background-color: #f0f0f0e6;
}

.cards .checkOut div:nth-child(2) {
  background-color: #4b4b4a;
  color: #fbf7f4e6;
  font-size: 15px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

.listCard li {
  display: grid;
  grid-template-columns: 100px repeat(3, 1fr);
  row-gap: 10px;
  font-size: 15px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: #4b4b4a;
}

.listCard li div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.listCard li img {
  width: 50px
}

.listCard li button {
  background-color: #fff5;
  border: none;
}

.listCard .count {
  margin: 0 10px;
}

.ode {
  text-decoration: none;
  color: #4b4b4a;
}

footer {
  padding: 90px 20px;
}

footer .col-lg-11 {
  background-color: #4b4b4a;
  height: 70px;
  margin: 70px auto;
  display: flex;
  justify-content: space-between;

}

footer {
  padding: 90px 0;
}

#row {
  background-color: #4b4b4a;
  height: 70px;
  margin: 70px auto;
  display: flex;
  justify-content: space-between;

}

#row p {
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: #d2ceca;
  padding: 25px 30px 0 30px;
}

#row a {
  text-decoration: none;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  padding: 25px 30px 0 30px;
  color: #FBF7F4;
}

input {
  display: none;
  background-color: #fbf7f4e6;
  border: none;
  border-bottom: 1px solid black;
  height: 50px;
  color: #4b4b4a;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  text-align: center;
}

footer button {
  height: 50px;
  display: none;
  background-color: #fbf7f4e6;
  border: none;
  color: #4b4b4a;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  text-align: center;
}


footer .col-3 h2 {
  text-align: center;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  color: #4b4b4a;
  padding: 0 30px;
}

footer .col-3 p {
  text-align: center;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: #4b4b4a;
  padding: 0 30px;
}

#social ul {
  display: flex;
  justify-content: center;
}

#social ul li {
  padding: 15px;
}



@media screen and (max-width: 700px) {
  #row p {
    font-size: 11px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #d2ceca;
    padding: 15px 30px 0 30px;
  }

  #row a {
    text-decoration: none;
    font-size: 11px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    padding: 25px 30px 0 30px;
    color: #FBF7F4;
  }
}

@media screen and (max-width: 600px) {
  #yokol {
    display: none;
  }

  input,
  footer button {
    display: block;
  }
}